@import "../base/extend";
@import "../base/mixin";
@import "../base/variables";

/*ESTILOS INDUSTRIAS*/
/*ESTILOS MAIN INDUSTRIAS*/

.main-industrias{
    background-color: $color-cinco;
    @extend %mains;
    .contenido-once{
        padding-top: 7rem;
        @extend %contenidos-iniciopaginas;
        h3{
            @extend %main-h3;
        }
        h1{
            @extend %main-h1;
        }
        p{
            @extend %main-p;
        }
        .boton-cuatro{
            @extend %boton;
        }
        h5{
            @extend %main-h5;
        }
    }
    .imagen-cuatro img{
        width: 100%;
        padding: 4.5rem 0rem 4.5rem 0rem;
    }
}

/*ESTILOS CONTENIDO SECUNDARIO INDUSTRIAS*/

.gris{
    background-color: $color-cinco;
    .tarjetas-finanzas{
        @include cartas-externo;
        div{
            @include cartas-interno;
            background-color: $color-tres;
            height: 400px;
            box-shadow: -1px 3px 10px black;
            h3{
                color: white;
                font-weight: bold;
            }
            p{
                color: white;
                font-weight: 700;
            }
        }
    }
}

/*ESTILOS INDUSTRIAS TABLET*/

@media screen and (min-width:600px){
    .main-industrias{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .gris{
        .tarjetas-finanzas{
            padding-left: 3rem;
            padding-right: 3rem;
            padding-bottom: 1rem;
        }
    }
}

@media screen and (min-width:780px){
    .main-industrias{
        p{
            width: 650px;
        }
    }
}

/*ESTILOS INDUSTRIAS PC PEQUEÑA*/

@media screen and (min-width:992px){
    main{
        .main-industrias{
            display: grid;
            grid-template-columns: 45% 55%;
            grid-template-rows: auto;

            grid-template-areas: 
                "contenido-once imagen-cuatro";
            align-items: center;
            padding: 0;
            height: 100vh;
            padding-left: 1rem;
            padding-right: 0rem;
            .contenido-once{
                grid-area: contenido-once;
                p{
                    width: 80%;
                }
            }
            .imagen-cuatro{
                grid-area: imagen-cuatro;
            }
        }
    }
    .gris{
        .tarjetas-finanzas{
            padding-top: 5.5rem;
            div:hover{
                transform: scale(1.03);
                transition-duration: 0.5s;
            }
        }
    }
}

/*ESTILOS INDUSTRIAS PC MEDIANA*/

@media screen and (min-width:1250px){
    main{
        .main-industrias{
            .contenido-once{
                h3{
                    font-size: 1rem;
                }
                h1{
                    font-size: 3rem;
                }
                p{
                    font-size: 1rem;
                }
                .boton-cuatro{
                    font-size: 1.3rem;
                    padding: 0.7rem 1.7rem 0.7rem 1.7rem;
                }
                h5{
                    font-size: 0.9rem;
                }
            }
        }
    }
    section{
        .industrias-tarjetas{
            padding-left: 6rem;
            padding-right: 6rem;
        }
    }
}

/*ESTILOS INDUSTRIAS PC MEDIANA GRANDE*/

@media screen and (min-width:1300px){
    main{
        .main-industrias{
            .contenido-once{
                padding-left: 4rem; 
            }
        }
    }
}

/*ESTILOS INDUSTRIAS PC GRANDE*/

@media screen and (min-width:1548px){
    main{
        .main-industrias{
            .contenido-once{
                padding-left: 8rem; 
            }
        }
    }
}
